.reviewList {
  list-style: none;
  padding: 0;
}

.review {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review h3 {
  margin-top: 0;
  color: #333;
}

.review p {
  color: #666;
}
