.searchContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;

  align-items: center;
}

.searchForm {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-right: 18px;
}

.selectCarBrand {
  padding-left: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 89px;
  background: #f7f7fb;
  border-radius: 14px;
}
.textCars {
  color: #8a8a89;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  margin-bottom: 8px;
}
.selectPrice {
  padding-left: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 14px;
  background: #f7f7fb;
  border-radius: 14px;
}

.searchButton {
  background-color: #007bff;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 14px 44px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 18px;
  margin-top: 25px;
}

.inputLeft {
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 14px 0px 0px 14px;
}

.inputRight {
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 0px 14px 14px 0px;
}

/* Cards */
.containerInfo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 29px;
  list-style: none;
}
.list {
  height: 426px;
  width: 274px;
  margin-bottom: 50px;
}

.leftSpan {
  /* margin-right: 107px; */
}
.btnImg {
  background-color: #3470ff;
  margin-top: 28px;
  max-width: 100%;
  height: 44px;
  padding: 12px 99px;
  border-radius: 12px;
  color: #ffff;
}
.subContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.textDesc {
  color: #8a8a89;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
}
.mainSubcontainer {
  background: #f7f7fb;
}
.addMore {
  display: flex;
  justify-content: center;
  align-items: center;
}
